<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="side">
    <!--官方公众号-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <h4>#CBRR#官方公众号</h4>
        <img class="img-thumbnail question-wechat" src="/images/official-account.png">
    </div>
    <!--我的github-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <a href="https://blog.csdn.net/weixin_42061487" target="_blank"
           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'GEEKTIME','transport_type': 'SIDE'})">
            @我的博客
        </a>
    </div>
    <!--我的github地址-->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 side">
        <a href="https://github.com/cbcb5652" target="_blank"
           onclick="gtag('event', 'click', {'event_category': 'LINK','event_label': 'WONDERCR','transport_type': 'SIDE'})">
            @我的GitHub
        </a>
    </div>
</div>
</body>
</html>
